@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Flood Zone</h1>
    <p>Flood Zone is an app that can help you determine flood risk locations in Morgantown, WV.</p>
    
</div>
<h2> Enter Morgantown Address below. </h2>
<form>
    <label for="Address">Address: </label><br>
    <input type="text" id="Address" name="Address"><br>
</form>
<a href="/Morgantown Flood Zone">Search </a>
<h2>Check here for local flood warnings</h2>
<a href="/Morgantown Flood Zone">Click Here</a>
